alembic
Authlib==0.15.3
blinker
click
flask
flask-jwt-extended
flask_login
Flask-Migrate
flask_mysqldb
flask_sqlalchemy
flask-security
Flask-Pydantic
flask_wtf
email_validator
jinja2
markdown2
neo4j
pandas
pandas_datareader
passlib[bcrypt]
phonenumbers
plotly.express
praw
py2neo
python-dateutil
python-decouple
python-dotenv
pylint
pylint-flask
pylint-flask-sqlalchemy
python-jose[cryptography]
PyMySQL
pydantic[email, dotenv]
pydantic_sqlalchemy
psycopg2
redis
rq
requests
salesforce_api
SQLAlchemy==1.4.0b3
sqlalchemy-utils 
twilio
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
dash-extensions
datamodel-code-generator[http]
werkzeug